@keyframes rotate{
    from{transform: rotate(0deg)}
    to{transform : rotate(-359deg)}
}
body {
    padding: 0 10px;
}
img.animate {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: url("../images/loading.svg");
    text-align: center;
    transform: rotate(360deg);
    margin-top: -2px;
    animation: rotate 1s linear infinite;
}
h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    margin: 21px 0;
    font-weight: 700;
}
h4 span {
    color: rgb(110, 110, 110);
}
#greeting {
    color: #000;
}
.img img {
    display: block;
    box-shadow: 0px 0px 10px 2px #ccc;
    border-radius: 10px;
}
textarea {
    font-family: "YouYuan","幼圆";
    font-size: 15px;
    text-indent: 1rem;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px 1px #ccc;
}
#devContainer input {
    cursor: pointer;
    width: 0px;
    opacity: 0;
}
#devContainer button {
    cursor: pointer;
    background-color: #409eff;
    border: none;
    color: #fff;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #ccc;
}
#devContainer button {
    width: 100px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
}
#inputDiv1 {
    margin-bottom: 10px;
}
.img {
    position: relative;
    display: inline-block;
}
div[id^="pointer"] {
    display: none;
    position: absolute;
    background-color: #ffffff00;
    border: 2px solid #409eff;
}
.img span{
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: pink;
    border-radius: 50%;
}
.on {
    margin: 10px 0;
}
.info {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300 !important;
    width: 290px;
    background-color: #dbdcdd9c;
}
#mapContainer {
    margin-top: 10px;
    width: 100%;
    height: calc(100vw - 16px);
    transition: all 200ms;
    /* animation: rotate 2s linear infinite; */
}
.switch img {
    transition: transform 200ms;
    right: 5px;
    content: url("../images/expand.svg");
    top: 3px;
    margin-top: -2px;
    margin-left: 2px;
}
.rotate180 {
    transform: rotate(180deg);
}